<!doctype html>
<html ng-app="quizApp">
  <head>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.3.0-beta.15/angular.min.js"></script>
	<script src="quizshow.js"></script>
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
	<link rel="stylesheet"
		  href="http://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">

	<!-- Optional theme -->
	<link rel="stylesheet"
		  href="http://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap-theme.min.css">

<!-- Latest compiled and minified JavaScript -->
    <script src="http://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/js/bootstrap.min.js"></script>
  </head>
  <body>
	<div id="correct" class="modal fade">
	  <div class="modal-dialog">
		<div class="modal-content">
		  <div class="modal-header">
			<button type="button" class="close"
					data-dismiss="modal">
			  <span aria-hidden="true">&times;</span>
			  <span class="sr-only">Close</span>
			</button>
			<h4 class="modal-title">Congratulations!!!</h4>
		  </div>
		  <div class="modal-body">
			<p class="btn btn-success">Correct!</p>
		  </div>
		  <div class="modal-footer">
			<button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
			<button type="button" class="btn btn-primary">Save changes</button>
		  </div>
		</div><!-- /.modal-content -->
	  </div><!-- /.modal-dialog -->
	</div><!-- /.modal -->

    <div class="jumbotron">
      <label>Name:</label>
      <input type="text" ng-model="yourName" placeholder="Enter a name here">
      <hr>
      <h1>Hello {{yourName}}!</h1>
    </div>
	<div>{{questions}}</div>
	<div ng-controller="QuizController">
	  <div class="panel panel-default" ng-repeat="question in questions">
		<h2 class="panel-heading"> {{question.question}}</h2>
		<div class="panel-body">
		  <a ng-repeat="answer in question.answers"
			 type="button" class="btn btn-primary"
			 data-toggle="modal" data-target="#correct"
			 href="#">
			{{answer}}
		  </a>
		</div>
	  </div>
	</div>
  </body>
</html>
